@model TermProject.Models.Chocolate
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Categories</title>
</head>
<body style="background-image:url('../Content/chocolates/back.jpg');background-repeat:no-repeat;font-family:Broadway">
    <div class="container">
        <br />
        <br />
            <br />
            <br />
            <h1 class="text-uppercase text-center" style="font-family:Broadway;color:silver">TOP BRANDS CATEGORIES</h1>
            <p class="lead text-center">
                <br />
                <br />
                <br />
                <br />
                    <div class="row">
                        <div class="col-xs-1">

                        </div>


                        <div class="col-xs-3">
                            <div class="well" style="width: 200px">
                                <a href="@Url.Action("KitKat","Chocolate")"><img class="img-responsive img-rounded" src="~/Content/Add/Kit Kat.jpg" height="200" width="200" /></a>
                                <h1 style="color:maroon">Nestle</h1>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="well" style="width: 200px">
                                <a href="@Url.Action("DairyMilk", "Chocolate")"><img class="img-responsive img-rounded" src="~/Content/Add/Dairy Milk.jpg" height="100" width="100" /></a>
                                <h1 style="color:maroon">Cadbury</h1>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="well" style="width: 200px">
                                <a href="@Url.Action("Mars", "Chocolate")"><img class="img-responsive img-rounded" src="~/Content/Add/Mars.jpg" height="120" width="120" /></a>
                                <h1 style="color:maroon">Mars</h1>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="well" style="width: 200px">
                                <a href="@Url.Action("Hershey", "Chocolate")"><img class="img-responsive img-rounded" src="~/Content/Add/Hersheys.jpg" height="100" width="100" /></a>
                                <h1 style="color:maroon">Hershey</h1>
                            </div>
                        </div>
                    </div>
        </div>
</body>
</html>





