@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body style="background-image:url('../Content/chocolates/back.jpg');background-repeat:no-repeat">
    
    <div style="margin-top:5%">
        
        <br />
        <h4 style=" font-size:200% ; font-family:'Broadway' ;font-weight:bolder;margin-left:3%;color:maroon"> MAILING ADDRESS</h4>
        <p style=" font-size:150%; font-family:'Broadway';align-content:center;margin-left:3%;color:white"> chocowalks@gmail.com</p>
        

        <br />        
        <h4 style=" font-size:200% ; font-family:'Broadway' ;font-weight:bolder;margin-left:3%;color:maroon"> LOCATION</h4>
        <p style="font-size:150%;font-family:'Broadway';align-content:center;margin-left:3%;color:white">9th-Floor, Gulberg Gallery</p>
        <p style="font-size:150%;font-family:'Broadway';align-content:center;margin-left:3%;color:white">Lahore</p>

        <br />
        <h4 style=" font-size:200% ; font-family:'Broadway' ;font-weight:bolder;margin-left:3%;color:maroon"> ORDER DETAILS</h4>
        <p style="font-size:150%;font-family:'Broadway';align-content:center;margin-left:3%;color:white">You can place order at:</p>
        <p style="font-size:150%;font-family:'Broadway';align-content:center;margin-left:3%;color:white">111-110-095</p>
    </div>

</body>
</html>
