@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DairyMilk</title>
</head>
<body style="background-image:url('../Content/chocolates/back.jpg');background-repeat:repeat;">
    
            <div class="container">
                <br />
                <br />
                <div class="row">
                    
                        <div class="col-lg-6">
                            <div class="col-md-7">

                                <img class="img-thumbnail img-responsive" src="~/Content/Add/Dairy Milk.jpg" height="500" width="500" />
                            </div>
                            <div class="col-md-6" style="font-family:Broadway;color:silver">
                                
                                <p class="lead">Chocolate: Dairy Milk </p>
                                <p class="lead">Price: $1500 </p>
                                <br />
                                <br />
                                <br />
                            </div>
                        </div>

                    <div class="col-lg-6">
                        <div class="col-md-7">

                            <img class="img-thumbnail img-responsive" src="~/Content/Add/cherry.jpg" height="500" width="500" />
                        </div>
                        <div class="col-md-6" style="font-family:Broadway;color:silver">
                            
                            <p class="lead">Chocolate: Cherry Ripe </p>
                            <p class="lead">Price: $400 </p>
                            <br />
                            <br />
                            <br />
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="col-md-7">

                            <img class="img-thumbnail img-responsive" src="~/Content/Add/d.jpg" height="500" width="500" />
                        </div>
                        <div class="col-md-6" style="font-family:Broadway;color:silver">
                            
                            <p class="lead">Chocolate: Double Decker </p>
                            <p class="lead">Price: $600 </p>
                            <br />
                            <br />
                            <br />
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="col-md-7">

                            <img class="img-thumbnail img-responsive" src="~/Content/Add/flake.jpg" height="900" width="900" />
                        </div>
                        <div class="col-md-6" style="font-family:Broadway;color:silver">
                            
                            <p class="lead">Chocolate: Falke </p>
                            <p class="lead">Price: $900 </p>
                            <br />
                            <br />
                            <br />
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="col-md-7">

                            <img class="img-thumbnail img-responsive" src="~/Content/Add/caramilk.jpg" height="500" width="500" />
                        </div>
                        <div class="col-md-6" style="font-family:Broadway;color:silver">
                            <p class="lead">Chocolate: Caramilk </p>
                            <p class="lead">Price: $1700 </p>
                            <br />
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
</body>
</html>
