@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hershey</title>
</head>
<body style="background-image:url('../Content/chocolates/back.jpg');background-repeat:repeat;">
    <div class="container">
        <br />
        <br />
        <div class="row">

            <div class="col-lg-6">
                <div class="col-md-7">

                    <img class="img-thumbnail img-responsive" src="~/Content/Add/Hersheys.jpg" height="500" width="500" />
                </div>
                <div class="col-md-6" style="font-family:Broadway;color:silver">
                   
                    <p class="lead">Chocolate: Hershey Bar </p>
                    <p class="lead">Price: $1500 </p>
                    <br />
                    <br />
                    <br />
                </div>
            </div>

            <div class="col-lg-6">
                <div class="col-md-7">

                    <img class="img-thumbnail img-responsive" src="~/Content/Add/zero.jpg" height="500" width="500" />
                </div>
                <div class="col-md-6" style="font-family:Broadway;color:silver">
                    
                    <p class="lead">Chocolate: Zero Bar </p>
                    <p class="lead">Price: $1400 </p>
                    <br />
                    <br />
                    <br />
                </div>
            </div>

            <div class="col-lg-6">
                <div class="col-md-7">

                    <img class="img-thumbnail img-responsive" src="~/Content/Add/rally.jpg" height="500" width="500" />
                </div>
                <div class="col-md-6" style="font-family:Broadway;color:silver">
                    
                    <p class="lead">Chocolate: Rally Bar </p>
                    <p class="lead">Price: $1600 </p>
                    <br />
                    <br />
                    <br />
                </div>
            </div>

            <div class="col-lg-6">
                <div class="col-md-7">

                    <img class="img-thumbnail img-responsive" src="~/Content/Add/sm.jpg" height="900" width="900" />
                </div>
                <div class="col-md-6" style="font-family:Broadway;color:silver">
                    
                    <p class="lead">Chocolate: S'mores </p>
                    <p class="lead">Price: $1900 </p>
                    <br />
                    <br />
                    <br />
                </div>
            </div>

            <div class="col-lg-6">
                <div class="col-md-7">

                    <img class="img-thumbnail img-responsive" src="~/Content/Add/nuts.jpg" height="500" width="500" />
                </div>
                <div class="col-md-6" style="font-family:Broadway;color:silver">
                    
                    <p class="lead">Chocolate: Nut Lovers </p>
                    <p class="lead">Price: $1700 </p>
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</body>
</html>
