@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>KitKat</title>
</head>
<body style="background-image:url('../Content/chocolates/back.jpg');background-repeat:repeat;">
    <div class="container">
        <br />
        <br />
        <div class="row">

            <div class="col-lg-6">
                <div class="col-md-7">

                    <img class="img-thumbnail img-responsive" src="~/Content/Add/Kit Kat.jpg" height="500" width="500" />
                </div>
                <div class="col-md-7" style="font-family:Broadway;color:silver">
                   
                    <p class="lead">Chocolate: Kit Kat </p>
                    <p class="lead">Price: $1500 </p>
                    <br />
                    <br />
                    <br />
                </div>
            </div>

            <div class="col-lg-6">
                <div class="col-md-7">

                    <img class="img-thumbnail img-responsive" src="~/Content/Add/bar.jpg" height="500" width="500" />
                </div>
                <div class="col-md-7" style="font-family:Broadway;color:silver">
                    
                    <p class="lead">Chocolate: Milky Bar </p>
                    <p class="lead">Price: $1400 </p>
                    <br />
                    <br />
                    <br />
                </div>
            </div>

            <div class="col-lg-6">
                <div class="col-md-7">

                    <img class="img-thumbnail img-responsive" src="~/Content/Add/yorkie.jpg" height="500" width="500" />
                </div>
                <div class="col-md-7" style="font-family:Broadway;color:silver">
                    
                    <p class="lead">Chocolate: Yorkie </p>
                    <p class="lead">Price: $1600 </p>
                    <br />
                    <br />
                    <br />
                </div>
            </div>

            <div class="col-lg-6">
                <div class="col-md-7">

                    <img class="img-thumbnail img-responsive" src="~/Content/Add/white.jpg" height="900" width="900" />
                </div>
                <div class="col-md-7" style="font-family:Broadway;color:silver">
                    
                    <p class="lead">Chocolate: White Knight </p>
                    <p class="lead">Price: $1900 </p>
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</body>
</html>
