@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mars</title>
</head>
<body style="background-image:url('../Content/chocolates/back.jpg');background-repeat:repeat;">
    <div class="container">
        <br />
        <br />
        <div class="row">

            <div class="col-lg-6">
                <div class="col-md-7">

                    <img class="img-thumbnail img-responsive" src="~/Content/Add/Mars.jpg" height="500" width="500" />
                </div>
                <div class="col-md-6" style="font-family:Broadway;color:silver">
                    
                    <p class="lead">Chocolate: Mars </p>
                    <p class="lead">Price: $1500 </p>
                    <br />
                    <br />
                    <br />
                </div>
            </div>

            <div class="col-lg-6">
                <div class="col-md-7">

                    <img class="img-thumbnail img-responsive" src="~/Content/Add/Twix.jpg" height="500" width="500" />
                </div>
                <div class="col-md-6" style="font-family:Broadway;color:silver">
                   
                    <p class="lead">Chocolate: Twix </p>
                    <p class="lead">Price: $1400 </p>
                    <br />
                    <br />
                    <br />
                </div>
            </div>

            <div class="col-lg-6">
                <div class="col-md-7">

                    <img class="img-thumbnail img-responsive" src="~/Content/Add/s.jpg" height="500" width="500" />
                </div>
                <div class="col-md-6" style="font-family:Broadway;color:silver">
                    
                    <p class="lead">Chocolate: Snickers </p>
                    <p class="lead">Price: $1600 </p>
                    <br />
                    <br />
                    <br />
                </div>
            </div>

            <div class="col-lg-6">
                <div class="col-md-7">

                    <img class="img-thumbnail img-responsive" src="~/Content/Add/milky.jpg" height="900" width="900" />
                </div>
                <div class="col-md-6" style="font-family:Broadway;color:silver">
                    
                    <p class="lead">Chocolate: Milky Way </p>
                    <p class="lead">Price: $1900 </p>
                    <br />
                    <br />
                    <br />
                </div>
            </div>

            <div class="col-lg-6">
                <div class="col-md-7">

                    <img class="img-thumbnail img-responsive" src="~/Content/Add/Bounty.jpg" height="500" width="500" />
                </div>
                <div class="col-md-6" style="font-family:Broadway;color:silver">
                    
                    <p class="lead">Chocolate: Bounty </p>
                    <p class="lead">Price: $1700 </p>
                    <br />
                    <br />
                    <br />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="col-md-7">

                    <img class="img-thumbnail img-responsive" src="~/Content/Add/Galaxy.jpg" height="500" width="500" />
                </div>
                <div class="col-md-6" style="font-family:Broadway;color:silver">
                    
                    <p class="lead">Chocolate: Galaxy </p>
                    <p class="lead">Price: $1600 </p>
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</body>
</html>
